<div class="container" style="margin-top: 70px;">
    <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="form-group">
            <input placeholder="Search user" type="text" class="form-control ml-1" style="width: 170px;" name="searchedUsername" [(ngModel)]="userParams.searchedUsername">
        </div>

        <button class="btn btn-primary ml-1" type="submit">Search</button>
        <button (click)="resetFilters()" class="btn btn-info ml-1">Reset searching</button>

        <div class="btn-group float-right">
            <button class="btn btn-primary" name='orderBy' (click)="loadMembers()" btnRadio="lookingFor" type="button" [(ngModel)]="userParams.orderBy">Search by newest</button>
        </div>
    </form>
</div> 

<div class="row">
    <div *ngFor="let member of members" class="col-2">
        <app-member-card [member]="member!"></app-member-card> 
    </div>
</div>
