<mat-card class="center">
    <mat-card-header>
      <mat-card-title>Contact us</mat-card-title>
      <!-- <mat-card-subtitle>Ia legatura cu noi</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <p>
        <a style="color: #0096FF;" target="_blank" href="mailto:robertpop0211@gmail.com">
          <mat-icon [inline]="true">Email: </mat-icon> robertpop0211@gmail.com
        </a>
      </p>
      <p>
        <a style="color: #0096FF;" target="_blank" href="tel:+40 761 565 766">
          <mat-icon [inline]="true">Phone number: </mat-icon> +40 761 565 766
        </a>
      </p>
    </mat-card-content>
  </mat-card>