<main class="bg-primary">
    <table class="bg-primary table">
        <tr>
            <th style="width: 30%;">Username</th>
            <th style="width: 40%;">Active roles</th>
            <th style="width: 30%;"></th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user!.username}}</td>
            <td>{{user!.roles}}</td>
            <td><button (click)="openRolesModalForModerator(user!)" class="btn btn-info" style="color: black;">Edit roles</button>
                <button (click)="deleteAccount(user!.username)" class="btn btn-danger" style="color: black;" *appHasRole='["Admin"]'>Delete user</button></td>
        </tr>
    </table>
</main>