<div class="container" mt-3>
    <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadTvShows()" autocomplete="off">
        <div class="form-group">
            <label>Tv Show title: </label>
            <input type="text" class="form-control ml-1" style="width: 170px;" name="searchedUsername" [(ngModel)]="tvShowParams.searchedTvShow">
        </div>

        <button class="btn btn-primary ml-1" type="submit">Search</button>
        <button (click)="resetFilters()" class="btn btn-info ml-1">Reset searching</button>

        <div class="btn-group float-right">
            <button class="btn btn-primary" name='orderBy' (click)="loadTvShows()" btnRadio="lookingFor" type="button" [(ngModel)]="tvShowParams.orderBy">Newest TV shows</button>
        </div>
    </form>
</div> 

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [(ngModel)]="pagination.currentPage" 
        (pageChanged)="pageChanged($event)" 
        [maxSize]="5" 
        [itemsPerPage]="pagination.itemsPerPage"
        previousText="Previous" 
        nextText="Next" 
        firstText="First" 
        lastText="Last">
    </pagination>
</div>

<div class="row">
    <div *ngFor="let tvShow of tvShows | paginate: { itemsPerPage: 72, currentPage: p }" class="col-2">
        <app-tv-show-card [tvShow]="tvShow"></app-tv-show-card> 
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [(ngModel)]="pagination.currentPage" 
        (pageChanged)="pageChanged($event)" 
        [maxSize]="5" 
        [itemsPerPage]="pagination.itemsPerPage"
        previousText="Previous" 
        nextText="Next" 
        firstText="First" 
        lastText="Last">
    </pagination>
</div>

<br><br>
<br><br>