<div class="container" mt-3>
    <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadGames()" autocomplete="off">
        <div class="form-group">
            <label>Game title: </label>
            <input type="text" class="form-control ml-1" style="width: 170px;" name="searchedUsername" [(ngModel)]="gameParams.searchedGame">
        </div>

        <button class="btn btn-primary ml-1" type="submit">Search</button>
        <button (click)="resetFilters()" class="btn btn-info ml-1">Reset searching</button>

        <div class="btn-group float-right">
            <button class="btn btn-primary" name='orderBy' (click)="loadGames()" btnRadio="lookingFor" type="button" [(ngModel)]="gameParams.orderBy">Newest games</button>
        </div>
    </form>
</div> 

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [(ngModel)]="pagination.currentPage" 
        (pageChanged)="pageChanged($event)" 
        [maxSize]="5" 
        [itemsPerPage]="pagination.itemsPerPage"
        previousText="Previous" 
        nextText="Next" 
        firstText="First" 
        lastText="Last">
    </pagination>
</div>


<div class="row">
    <div *ngFor="let game of games | paginate: { itemsPerPage: 18, currentPage: p }" class="col-2">
        <app-game-card [game]="game"></app-game-card> 
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [(ngModel)]="pagination.currentPage" 
        (pageChanged)="pageChanged($event)" 
        [maxSize]="5" 
        [itemsPerPage]="pagination.itemsPerPage"
        previousText="Previous" 
        nextText="Next" 
        firstText="First" 
        lastText="Last">
    </pagination>
</div>
<br><br>
<br><br>
