<div class="text-center mt-3">
    <h2>{{predicate === 'added' ? 'Members I added as friends' : 'Members who added me'}}</h2>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="btn-group" name="predicate">
            <button class="btn btn-primary" btnRadio="added" [(ngModel)]="predicate" (click)="loadFriends()">Members I added</button>
            <button class="btn btn-primary" btnRadio="addedBy" [(ngModel)]="predicate" (click)="loadFriends()">Members who added me</button>
            <!-- <button class="btn btn-primary" btnRadio="friendRequest" [(ngModel)]="predicate" (click)="loadFriends()">Friend requests</button> -->
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-2" *ngFor="let member of members">
            <app-member-card-added [member]="member!"></app-member-card-added>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>