<div class="container">
    <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadMovies()" autocomplete="off">
        <div class="form-group">
            <label>Movie title: </label>
            <input type="text" class="form-control ml-1" style="width: 170px;" name="searchedUsername" [(ngModel)]="movieParams.searchedMovie">
        </div>

        <button class="btn btn-primary ml-1" type="submit">Search</button>
        <button (click)="resetFilters()" class="btn btn-info ml-1">Reset searching</button>

        <div class="btn-group float-right">
            <button class="btn btn-primary" name='orderBy' (click)="loadMovies()" btnRadio="lookingFor" type="button" [(ngModel)]="movieParams.orderBy">Newest movies</button>
        </div>
    </form>
</div> 

<div class="row">
    <div *ngFor="let movie of movies | paginate: { itemsPerPage: 18, currentPage: p }" class="col-2">
        <app-movie-card [movie]="movie"></app-movie-card> 
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
</div>