<ngx-spinner size = "large" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: #000; margin-top: 70px;" > Loading... </p></ngx-spinner>
<app-nav></app-nav>

<!-- <button class="toggle" (click)="switchTheme()">
  {{ theme === "light-theme" ? "Switch to dark" : "Switch to light"}}
</button> -->

<!-- <input type="checkbox" id="toggle"> -->
<!-- <label for="toggle" class="switch"></label> -->
<!-- 
<label class="switch">
  <input type="checkbox" (click)="switchTheme()">
  <span class="slider round"></span>
</label> -->

<div class="container" style="margin-top: 100px;">
  
  <router-outlet></router-outlet>
  <app-scroll-to-top></app-scroll-to-top>
</div>

<app-footer></app-footer>
