<!-- <div class="row">
    <h1 style="size: 15rem;">{{movie.title}} ({{movie.fullTitle}})</h1>

    <div class="d-flex justify-content-between">
      <div>
        <p>{{movie.year}} <span *ngIf="movie.runtimeStr"><i class="far fa-dot-circle"></i> </span> {{movie.runtimeStr}}
          <span *ngIf="movie.contentRating"><i class="far fa-dot-circle"></i></span> {{movie.contentRating}}</p>

        <div class="d-inline-block" *ngFor="let genre of movie.genreList">
          <p class="m-1 p-1 border border-primary rounded" style="text-align: center;">{{genre.value}}</p>
        </div>

        <div *ngIf="movie.tagline">
          <i style="font-weight: initial;">"{{movie.tagline}}"</i>
        </div>

        <br>

        <div *ngIf="res == false">
          <li class="list-inline-item"><button (click)="addMovie(movie)" class="btn btn-primary">
          <i class="fa fa-plus"></i></button> <p>Add movie</p></li>
        </div>
        
        <div *ngIf="res == true">
          <li class="list-inline-item"><button (click)="deleteMovie(movie)" class="btn btn-primary">
          <i class="fa fa-minus"></i></button> <p>Delete movie</p></li>
        </div>
        <br>
      </div>
      
    <div>
      <div class="text-end">
        <p style="font-size: 20px;">Imdb Rating</p>
          <i class="d-inline-block fa fa-star fa-3x" style="color: orange;"></i>
          <div class="d-inline-block">
            <p><span style="font-size: 20px; font-weight: bolder; align-content: left;">{{movie.imDbRating}}</span>/10<br>{{movie.imDbRatingVotes}} votes</p>
          </div>

          <div *ngIf="movie.metacriticRating">
            <p><span class="m-1 p-1 border border-primary rounded" style="text-align: center;" style="margin-top: -1em;">{{movie.metacriticRating}} metascore</span></p>
          </div>
    </div>
  </div>
      
    </div>

    <div class="col-4"><img src="{{movie.image || './assets/user.png'}}" alt="{{movie.fullTitle}}" class="img-fluid"></div>
    <div class="col-8">

    <div *ngIf="movie.trailer!.linkEmbed!" class="embed-responsive embed-responsive-4by3">
        <iframe allowfullscreen class="embed-responsive-item" [src]="movie.trailer?.linkEmbed! | safe"></iframe>  -->
        <!-- +'?autoplay=true'  allow="autoplay" --> 
        <!-- </div>
    </div>
</div>
  
<br><br>

<h1>Plot</h1>
<p class="indent">{{movie.plot}}</p>

<hr style="width:50%;text-align:left;margin-left:0">

<div *ngIf="movie.directors">
<h1>Director</h1>
<p><span class="m-1 p-1 border border-primary rounded" style="text-align: center;">{{movie.directors}}</span></p>

<hr style="width:50%;text-align:left;margin-left:0">
</div>

<div *ngIf="movie.writerList!.length > 0">
<h1>Writers</h1>
<div *ngFor="let writer of movie.writerList">
  <p><span class="m-1 p-1 border border-primary rounded" style="text-align: center;" style="margin-top: -1em;">{{writer.name}}</span></p>
</div>

<hr style="width:50%;text-align:left;margin-left:0">
</div>

<div *ngIf="movie.starList!.length > 0">
<h1>Stars</h1>
<div *ngFor="let star of movie.starList">
  <p><span class="m-1 p-1 border border-primary rounded" style="text-align: center;" style="margin-top: -1em;">{{star.name}}</span></p>
</div>

<hr style="width:50%;text-align:left;margin-left:0">
</div>

<div *ngIf="movie.awards">
<h1>Awards</h1>
<p>{{movie.awards}}</p>

<hr style="width:50%;text-align:left;margin-left:0">
</div>

<div *ngIf="movie.companies">
<h1>Company</h1>
<p>{{movie.companies}}</p>

<hr style="width:50%;text-align:left;margin-left:0">
</div>

<div *ngIf="movie.countryList!.length > 0">
<h1>Countries</h1>
<div *ngFor="let country of movie.countryList">
  <p><span class="m-1 p-1 border border-primary rounded" style="text-align: center;" style="margin-top: -1em;">{{country.value}}</span></p>
</div>

<hr style="width:50%;text-align:left;margin-left:0">
</div>

<div *ngIf="movie.languageList!.length > 0">
<h1>Languages</h1>
<div *ngFor="let language of movie.languageList">
  <p><span class="m-1 p-1 border border-primary rounded" style="text-align: center;" style="margin-top: -1em;">{{language.value}}</span></p>
</div>

<hr style="width:50%;text-align:left;margin-left:0">
</div>

<div *ngIf="movie.boxOffice">
<h1>Box office</h1>
<p *ngIf="movie.boxOffice.budget"><span style="font-weight: bolder;">Bugdet</span><br>{{movie.boxOffice!.budget}}</p>
<p *ngIf="movie.boxOffice!.openingWeekendUSA"><span style="font-weight: bolder;">Opening weekend USA</span><br>{{movie.boxOffice!.openingWeekendUSA}}</p>
<p *ngIf="movie.boxOffice!.grossUSA"><span style="font-weight: bolder;">Gross USA</span><br>{{movie.boxOffice!.grossUSA}}</p>
<p *ngIf="movie.boxOffice!.cumulativeWorldwideGross"><span style="font-weight: bolder;">Cumulative worldwide gross</span><br>{{movie.boxOffice!.cumulativeWorldwideGross}}</p>

<hr style="width:50%;text-align:left;margin-left:0">
</div>

<div *ngIf="movie.keywords">
  <h1>Keywords</h1>
  <p>{{movie.keywords}}</p>
  
  <hr style="width:50%;text-align:left;margin-left:0">
  </div>

  <div *ngIf="movie.wikipedia">
    <h1>External links</h1>
    <a style="color: #0096FF;" target="_blank" href="{{movie.wikipedia.url}}">
    {{movie.title}} Wikipedia</a>
    
    <hr style="width:50%;text-align:left;margin-left:0">
    </div>

<h1>Actor list</h1>
<owl-carousel-o [options]="customOptions">
  
    <ng-container *ngFor="let actor of movie.actorList">
      <ng-template *ngIf="actor.image !== 'https://imdb-api.com/images/original/nopicture.jpg'" carouselSlide [id]="actor.id!" style="margin-left: 20px;">
        <img [src]="actor.image" width="100px" height="400px">
        <div style="align-items: center;">
            <p>{{actor.name}}<br><span style="color: gray;">as {{actor.asCharacter}}</span></p>
        </div>
      </ng-template>
    </ng-container>
</owl-carousel-o>

<h1>Similar movies</h1>
<div class="container">
  <div class="row">
    <div *ngFor="let similar of movie.similar" class="col-3 mb-2">
        <img style="cursor: pointer;" [src]="similar.image" width="300px" height="300px" routerLink="/movies/{{similar.title}}">
        <p class="card-text text-muted text-center">{{similar.title}}</p>
        <p class="card-text text-muted text-center">{{similar.imDbRating}}<i class="fa fa-star ml-1" style="color: orange;"></i></p>
    </div>
  </div>
</div> -->
