<div class="row">
    <h1 style="size: 10rem;">{{movie.title}}</h1>
    <div class="col-4"><img src="{{movie.image || './assets/user.png'}}" alt="{{movie.fullTitle}}" class="img-fluid"></div>
    <div class="col-8">
    <!-- 
    <p>{{movie.year}}</p>

     -->

    <div class="embed-responsive embed-responsive-4by3">
        <iframe allow="autoplay" allowfullscreen class="embed-responsive-item" [src]="movie.trailer?.linkEmbed!+'?autoplay=true' | safe"></iframe>
        </div>
    </div>
</div>
    

<h1>Actor list</h1>
<owl-carousel-o [options]="customOptions">
  
    <ng-container *ngFor="let actor of movie.actorList">
      <ng-template *ngIf="actor.image !== 'https://imdb-api.com/images/original/nopicture.jpg'" carouselSlide [id]="actor.id!" style="margin-left: 20px;">
        <img [src]="actor.image" width="100px" height="400px">
        <div style="align-items: center;">
            <p>{{actor.name}}<br><span style="color: gray;">as {{actor.asCharacter}}</span></p>
        </div>
      </ng-template>
    </ng-container>
</owl-carousel-o>
