.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

img{
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}

.nav-item > a.active{
  color: aqua;
}

.dropdown-item{
  background-color: white;
  margin-top: -8px;
  margin-bottom: -8px;
}

.dropdown-item:hover{
  background-color: black;
  margin-top: -8px;
  margin-bottom: -8px;
}