<div style="background-color: #ddd;" class="icons-wrapper fixed-bottom d-flex justify-content-center">
    <a style="cursor: pointer;" href="https://www.instagram.com/robertpop02/" target="_blank"><i class="fa-brands fa-instagram icon"></i></a>
    <a style="cursor: pointer;" href="https://www.facebook.com/robertpop02/" target="_blank"><i class="fa-brands fa-facebook icon ml-3"></i></a>
    <a style="cursor: pointer;" href="https://www.linkedin.com/in/robert-pop-34894b1b5/" target="_blank"><i class="fa-brands fa-linkedin icon ml-3"></i></a>
    <a style="cursor: pointer;" href="https://github.com/RobertPop007" target="_blank"><i class="fa-brands fa-github icon ml-3"></i></a>
</div>