<div class="card mb-3" style="height: 25rem;" *ngIf="movie.fullTitle">
    <div class="card-img-wrapper">
        <img src="{{movie.image || './assets/user.png'}}" alt="{{movie.fullTitle}}" class="card-img-top">
        
        <ul class="list-inline member-icons animate text-center">

            <li class="list-inline-item"><button routerLink="/movies/{{movie.title}}" class="btn btn-primary">
                <i class="fa fa-film"></i></button></li>
                
            <li class="list-inline-item"><button (click)="addMovie(movie)" class="btn btn-primary">
                <i class="fa fa-plus"></i></button></li>
        </ul>
    </div>

    <div class="card-body p-3 align-bottom">
        <p class="card-text text-muted text-center">{{movie.fullTitle}}</p>
        <p class="card-text text-muted text-center">{{movie.imDbRating}}<i class="fa fa-star ml-1" style="color: orange;"></i></p>
    </div>
</div>
